@model maQx.Models.DepartmentMenuViewModel
@{
    Layout = "~/Views/Shared/_FramePage.cshtml";
}

<div class="app-generic-template detail-template">
    <div class="modular-layout" ng-controller="DepartmentMenuController as dCtrl">
        <div class="css-fade">
            <div class="modular-controls">
                @if (Model != null && Model.Divisions.Count() > 1)
                {
                    <div class="select-control">
                        <div>
                            Select Division
                        </div>
                        <div>
                            @Html.DropDownListFor(model => model.Division, Model.Divisions, htmlAttributes: new { ng_model = "dCtrl.division", ng_disabled = "dCtrl.proto.isLoading()", ng_change = "dCtrl.proto.change()" })
                        </div>
                    </div>

                    <div class="pull-right">
                        <label><span class="input-group-addon addon-icon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span><input type="search" class="form-control input-sm" placeholder="Search" aria-controls="DataTables_Table_0" ng-model="search"></label>
                    </div>

                }

            </div>
        </div>
        <div>
            @if (Model != null && Model.Divisions.Count() > 1)
            {
                <div ng-show="dCtrl.proto.showWarning()" class="alert alert-warning" role="alert"><i class="fa fa-exclamation-triangle"></i> Please select a division from the list</div>
                <div class="department-menu-layer">

                    <div class="circle-loader" ng-show="dCtrl.proto.isLoading()">
                        <div class="loader-animate"></div>
                        <div><h3>Loading..</h3></div>
                    </div>

                    <div class="css-fade" ng-show="dCtrl.proto.showContent()">
                        <div class="menu-info-text">
                            <span class="fa fa-info-circle"></span><span class="ui-bold" ng-bind="dCtrl.proto.getMenuCount()"></span> of <span class="ui-bold" ng-bind="dCtrl.proto.getMappedMenuCount()"></span> menus mapped
                        </div>
                        <div class="menu-content" ng-repeat="item in dCtrl.departmentList | filter:search track by item.department.ID">
                            <div><span ng-bind="item.department.Name"></span> <span class="fa fa-edit pull-right" data-toggle="tooltip" title="Manage Menus" ng-click="dCtrl.openMenus('lg', item.department)"></span></div>
                            <div>
                                <ul ng-hide="dCtrl.proto.showMenus(item)">
                                    <li class="text-center">
                                        No menus added
                                    </li>
                                </ul>
                                <ul ng-show="dCtrl.proto.showMenus(item)">
                                    <li ng-repeat="selectedMenu in item.divisionMenu track by selectedMenu.ID">
                                        <span ng-bind="selectedMenu.Name"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="active-warning-info">
                    <h3 class="info-title">
                        <span class="fa-stack title-icon yellow">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-info fa-stack-1x"></i>
                        </span> No divisions were created yet.
                    </h3>
                    <p>
                        Departments and its menus are subsets of a division. @Html.ActionLink("Create a division", "Create", "Divisions") to process further.
                    </p>
                </div>
            }
        </div>

        <script type="text/ng-template" id="menu-selector.html">
            <div class="modal-header">
                <h3 class="modal-title">Menu Collection</h3>
                <div class="pull-right">
                    <label class="modal-search"><span class="input-group-addon addon-icon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span><input type="search" class="form-control input-sm" placeholder="Search" ng-model="menuSearch.menu.Name"></label>
                </div>
            </div>
            <div class="modal-body">
                <p class="modal-content-title">Select menus for <span class="ui-bold" ng-bind="items.department.Name"></span></p>
                <ul class="menu-selector-list">
                    <li ng-repeat="element in menu | filter:menuSearch track by element.menu.ID">
                        <input type="checkbox" ng-disabled="!isSelectable(element)" ng-model="element.selected" id="{{element.menu.ID}}" /><label for="{{element.menu.ID}}" ng-bind="element.menu.Name"></label>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="pull-left statusText" ng-show="Loading()">
                    Updating menus...
                </div>
                <button class="btn btn-primary app-btn" ng-disabled="Loading()" ng-click="ok()">Save</button>
                <button class="btn btn-warning inverse-btn" ng-disabled="Loading()" ng-click="cancel()">Cancel</button>
            </div>
        </script>

    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/department-menu-controller")
    }
</div>
