@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/_GenericPage.cshtml";
}

<div class="section-layout">
    <div class="col-sm-2 col-md-3 col-lg-2 menu-layout" ng-controller="MenuController as mCtrl">
        <div class="menu-loader css-fade" ng-hide="mCtrl.isLoaded()">
            <div class="loader-animate"></div>
        </div>
        <div class="menu-header">Administration Console</div>
        <div class="css-fade" ng-show="mCtrl.isLoaded()">
            <div class="menu-items" ng-repeat="menu in mCtrl.menus track by menu.ID" ng-click="mCtrl.selectMenu(menu)" ng-class="mCtrl.selectedMenu(menu)" ng-bind="menu.Name"></div>
        </div>
    </div>

    <div class="col-sm-10 col-md-9 col-lg-10 detail-layout" ng-controller="FrameController as fCtrl">
        <iframe app-frame id="app-frame" frameborder="0" src=""></iframe>
    </div>
</div>

