@model maQx.Models.Invite

<table class="table table-responsive detail-table">
    <tbody>
        <tr>
            <td><div>Username</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Username</div></td>
        </tr>
        <tr>
            <td><div>Email</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Email</div></td>
        </tr>
        <tr>
            <td><div>Invite Date</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Created</div></td>
        </tr>
    </tbody>
</table>

