@model maQx.Models.InviteViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FramePage.cshtml";
}

<div class="generic-template generic-form" ng-app="sectionApp">

    @if (Model.Organizations.Count() > 1)
    {

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="admin-form" ng-controller="InviteController as iCtrl">
                <h1>Send a Invite</h1>
                <p>Invites allows users to access the application. An activation link will be sent to the specified email address to proceed further.</p>

                @{Html.RenderPartial("_Form", Model);}

                <div class="generic-form-bottom-tools">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm" })
                </div>
            </div>
        }
    }
    else
    {
        <div>
            <h3 class="info-title">
                <span class="fa-stack title-icon yellow">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-info fa-stack-1x"></i>
                </span> No organizations were created yet.
            </h3>
            <p>
                Invites are send in the name of a organization. @Html.ActionLink("Create a organization", "Create", "Organizations") before sending invites.
            </p>
        </div>
    }

</div>


@section scripts{
    @Scripts.Render("~/bundles/section-invite-controller")
}
