/* line 145, layout.scss */
::-moz-selection {
  background-color: #FFA;
  color: #000;
}

/* line 150, layout.scss */
::selection {
  background-color: #FFA;
  color: #000;
}

/* line 155, layout.scss */
a[href], input[type='submit'], input[type='button'], input[type='reset'], input[type='image'], label[for], select, button, .pointer {
  outline: none !important;
}

/* line 160, layout.scss */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

/* line 165, layout.scss */
::-webkit-scrollbar-track-piece {
  background-color: white;
}

/* line 169, layout.scss */
::-webkit-scrollbar-thumb {
  background-color: #b2b2b2;
}

/* line 173, layout.scss */
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
  border: #444 thin solid;
}

/* line 183, layout.scss */
.circle-loader > *, .app-generic-template .modular-layout .modular-controls > div, .app-generic-template .modular-layout ul.material-list-view li > div, .app-generic-template .modular-layout ul.material-list-view li .item-controls > div {
  vertical-align: middle;
}

/* line 187, layout.scss */
header .profile .user-info .user-name, header .profile .user-info .user-department {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

/* line 192, layout.scss */
input[type=checkbox] ~ label:before, .pagination > li > a, .pagination > li > span, .btn, .login-index .login-layout .login-form, .section-layout .menu-layout .menu-items, header .title, header .profile .profile-layout, header .profile .profile-layout .profile-dropout {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 196, layout.scss */
.section-layout > div, .section-layout .menu-layout .menu-items {
  display: block;
}

/* line 200, layout.scss */
.inline-block, .inline-block-child > *, label > input, label > select, label .form-control, .circle-loader > *, header .brand, header .title, header .profile, header .profile .profile-layout, header .profile .user-img-layout, header .profile .user-info, .frame-layout .table-layout .default-toolbar, .frame-layout .table-layout .toolbar, .app-generic-template .modular-layout .modular-controls > div, .app-generic-template .modular-layout ul.material-list-view li > div, .app-generic-template .modular-layout ul.material-list-view li .item-controls > div {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 212, layout.scss */
input[type=checkbox] ~ label, input[type=checkbox] ~ label:before, .input-group, .login-index .login-layout, .login-index .login-layout .login-form, .login-index .login-layout .login-form .version-placeholder, .login-index .login-layout .login-form .login-form-error, .page-layout, .section-layout .menu-layout, .section-layout .menu-layout .menu-items, header, header .profile .profile-layout, .frame-layout .table-layout, .frame-layout .table-layout .dt-loading, .frame-layout .table-layout .top-toolbar, .frame-layout .table-layout .bottom-toolbar, .frame-layout .table-layout .table-space, .app-generic-template .modular-layout, .app-generic-template .modular-layout ul.material-list-view li {
  position: relative;
}

/* line 216, layout.scss */
.page-layout .page-cover, .index-layout, .index-layout > div:first-child, .circle-loader, .section-layout .menu-layout .menu-loader, .section-layout .menu-layout .menu-items.load.selected:after, header .profile .profile-layout .profile-dropout, .frame-layout .table-layout .left-toolbar, .frame-layout .table-layout .right-toolbar, .app-generic-template .modular-layout .modular-form, .app-generic-template .modular-layout ul.material-list-view li .item-controls {
  position: absolute;
}

/* line 220, layout.scss */
a[href], input[type='submit'], input[type='button'], input[type='reset'], input[type='image'], label[for], select, button, .pointer, input[type=checkbox] ~ label, .section-layout .menu-layout .menu-items, header .profile .profile-layout, .app-generic-template .modular-layout ul.material-list-view li .item-controls > div {
  cursor: pointer;
}

/* line 224, layout.scss */
html, html body {
  font-family: 'osregular','Helvetica';
}

/* line 228, layout.scss */
h1, h2, h3, header .title {
  font-family: 'oslight','Helvetica';
}

/* line 240, layout.scss */
h4, h5, h6, .ui-bold, .highlight, .alert strong, .section-layout .menu-layout .menu-items, .frame-layout table.dataTable th {
  font-family: 'ossemibold','Helvetica';
}

/* line 248, layout.scss */
html, input[type=text], input[type=password], input[type=email], input[type=tel], input[type=search], select, .login-index .login-layout, .page-layout, .index-layout, .section-layout, .page-layout .page-cover, .section-layout iframe, header .profile .profile-layout .profile-dropout {
  width: 100%;
}

/* line 252, layout.scss */
.full-height, .ui-mobile [data-role=page], html, .login-index, .login-index .login-layout, .page-layout, .index-layout, .section-layout, .page-layout .page-cover, .section-layout > div, .section-layout iframe {
  height: 100%;
}

/* line 285, layout.scss */
header .profile, .frame-layout .table-layout .right-toolbar, .frame-layout table.dataTable tbody td:last-child:not(.dataTables_empty) {
  text-align: right;
}

/* line 288, layout.scss */
header .profile .user-profile {
  text-align: left;
}

/* line 291, layout.scss */
input[type=checkbox] ~ label:before, .login-index footer div, .login-index .login-layout .login-form .version-placeholder, .section-layout .menu-layout .menu-loader, header .profile .user-img {
  text-align: center;
}

@-webkit-keyframes rotate {
  /* line 303, layout.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 304, layout.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  /* line 303, layout.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 304, layout.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-ms-keyframes rotate {
  /* line 303, layout.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 304, layout.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  /* line 303, layout.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 304, layout.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  /* line 303, layout.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 304, layout.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes fontfix {
  /* line 308, layout.scss */
  from {
    opacity: 1;
  }

  /* line 309, layout.scss */
  to {
    opacity: 1;
  }
}

/* line 312, layout.scss */
html {
  overflow: auto;
}
/* line 317, layout.scss */
html, html body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

/* line 342, layout.scss */
[contenteditable='true'] {
  outline: none;
}

/* line 350, layout.scss */
.highlight {
  color: #DB5B51;
}

/* line 354, layout.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 358, layout.scss */
a {
  text-decoration: none !important;
}

/* line 362, layout.scss */
.ng-hide-add, .ng-hide-remove {
  display: block !important;
}

/* line 366, layout.scss */
ul.DTTT_dropdown.dropdown-menu li:hover a {
  background-color: #1EB4AC;
  color: #fff!important;
}

/* line 371, layout.scss */
.css-fade {
  transition: 0.5s ease-in-out all;
  opacity: 1;
}

/* line 375, layout.scss */
.css-fade.ng-hide {
  opacity: 0;
}

/* line 380, layout.scss */
.animate-enter,
.animate-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
}

/* line 391, layout.scss */
.animate-leave.animate-leave-active,
.animate-enter {
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  height: 0px;
  opacity: 0;
}

/* line 401, layout.scss */
.lower-case {
  text-transform: lowercase;
}

/* line 405, layout.scss */
input, select {
  box-shadow: none;
}

/* line 409, layout.scss */
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=search], select {
  font-size: 13px;
  font-size: 0.8125rem;
  height: 34px;
  padding: 10px 13px;
  border: #e9e9e9 1px solid;
  outline: none;
  font-weight: normal;
  background: #fff;
  border-radius: 3px;
  color: #333;
}
/* line 421, layout.scss */
input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=tel]:hover, input[type=search]:hover, select:hover {
  border-color: #ccc;
}
/* line 426, layout.scss */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=search]:focus, select:focus {
  border-color: #66cccc;
  outline: none;
  box-shadow: none;
}
/* line 432, layout.scss */
input[type=text].input-validation-error, input[type=password].input-validation-error, input[type=email].input-validation-error, input[type=tel].input-validation-error, input[type=search].input-validation-error, select.input-validation-error {
  border-color: #FF9F9F;
}
/* line 436, layout.scss */
input[type=text].large, input[type=password].large, input[type=email].large, input[type=tel].large, input[type=search].large, select.large {
  height: 44px;
  font-size: 14px;
  font-size: 0.875rem;
}

/* line 442, layout.scss */
input:disabled, select:disabled {
  border: #eee 1px solid !important;
  background: #F4F4F4 !important;
  cursor: not-allowed !important;
  color: #333 !important;
}

/* line 449, layout.scss */
option:disabled {
  display: none;
}

/* line 453, layout.scss */
select {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 457, layout.scss */
.form-control {
  box-shadow: none;
}
/* line 460, layout.scss */
.form-control:focus {
  border-color: #66cccc;
  outline: none;
  box-shadow: none;
}

/* line 468, layout.scss */
label > input, label > select, label .form-control {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 475, layout.scss */
input[type=checkbox] {
  display: none;
}

/* line 479, layout.scss */
input[type=checkbox] ~ label {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #666;
  font-weight: normal;
  margin-left: 12px;
}

/* line 488, layout.scss */
input[type=checkbox] ~ label:before {
  content: "\e013";
  width: 16px;
  height: 16px;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  left: -10px;
  background: #ddd;
  color: #ddd;
  display: inline-block;
  padding-top: 1px;
}

/* line 507, layout.scss */
input[type=checkbox]:checked ~ label:before {
  color: #fff;
  background: #66cccc;
}

/* line 512, layout.scss */
input[type=checkbox]:hover, input[type=checkbox] ~ label:hover:before {
  color: #fff;
}

/* line 516, layout.scss */
input + input {
  margin-left: 10px;
}

/* line 520, layout.scss */
.input-group {
  width: 100%;
}

/* line 525, layout.scss */
.input-group-addon {
  border-color: transparent;
  background: transparent;
  position: absolute;
  margin-top: 4px;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #66cccc;
}

/* line 534, layout.scss */
.form-control-feedback {
  top: 1px;
  color: #76D2BA;
}
/* line 538, layout.scss */
.form-control-feedback[data-toggle=tooltip] {
  cursor: pointer;
}
/* line 542, layout.scss */
.form-control-feedback.glyphicon-remove {
  color: #E77E7E;
}

/* line 548, layout.scss */
.tooltip .tooltip-arrow {
  border-bottom-color: #222121 !important;
}
/* line 551, layout.scss */
.tooltip .tooltip-inner {
  padding: 8px;
  background-color: #222121 !important;
}

/* line 557, layout.scss */
.input-group-addon.addon-text + input {
  padding-left: 45px;
}

/* line 561, layout.scss */
.input-group-addon.addon-50 + input {
  padding-left: 50px;
}

/* line 565, layout.scss */
.input-group-addon.addon-icon + input {
  padding-left: 35px;
}

/* line 569, layout.scss */
.field-validation-error {
  margin-top: 10px;
  font-size: 13px;
  font-size: 0.8125rem;
  display: none;
}
/* line 575, layout.scss */
.field-validation-error.text-danger {
  color: #ea7171;
}

/* line 580, layout.scss */
.field-validation-valid {
  display: none;
}

/* line 584, layout.scss */
.input-validation-error + .field-validation-error {
  display: block;
}

/* line 590, layout.scss */
.pagination > li > a, .pagination > li > span {
  color: #1EB4AC;
}
/* line 594, layout.scss */
.pagination > li > a:hover, .pagination > li > span:hover {
  color: #10A59C;
}
/* line 601, layout.scss */
.pagination > .active > a, .pagination > .active > span {
  background-color: #1EB4AC;
  border-color: #1ba29a;
}
/* line 605, layout.scss */
.pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background: #1EB4AC;
  border-color: #1ba29a;
}

/* line 616, layout.scss */
.info-title .title-icon {
  font-size: 0.8em;
}
/* line 619, layout.scss */
.info-title .title-icon.yellow {
  color: #FDCF7C;
}

/* line 625, layout.scss */
.alert {
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0 10px;
}
/* line 628, layout.scss */
.alert strong {
  font-weight: normal;
}
/* line 633, layout.scss */
.alert.alert-success {
  color: #37997C;
  background-color: #DEEFEC;
  border-color: #BCE2DC;
}
/* line 639, layout.scss */
.alert.alert-danger {
  color: #C85A5A;
  background-color: #FFE5E5;
  border-color: #F5B8B8;
}

/* line 646, layout.scss */
a.btn + a.btn {
  margin-left: 10px;
}

/* line 653, layout.scss */
.btn .spaced.caret {
  margin-left: 5px;
}
/* line 657, layout.scss */
.btn .fa {
  padding-right: 7px;
}
/* line 661, layout.scss */
.btn.app-btn, .btn.inverse-btn, .btn.warning-btn, .btn.danger-btn {
  color: #fff;
}
/* line 665, layout.scss */
.btn.app-btn {
  background: #1eb4ac;
  border-color: #1ba29a;
}
/* line 669, layout.scss */
.btn.app-btn:hover, .btn.app-btn:focus {
  background: #71d7c9;
  border-color: #65c1b4;
}
/* line 674, layout.scss */
.btn.app-btn:active {
  background: #1ba29a;
  border-color: #189089;
}
/* line 680, layout.scss */
.btn.inverse-btn {
  background: #444;
  border-color: #222;
}
/* line 684, layout.scss */
.btn.inverse-btn:hover, .btn.inverse-btn:focus {
  background: #555;
  border-color: #333;
}
/* line 689, layout.scss */
.btn.inverse-btn:active {
  background: #333;
  border-color: #111;
}
/* line 695, layout.scss */
.btn.warning-btn {
  background: #FDCC72;
  border: #F7B02F thin solid;
}
/* line 699, layout.scss */
.btn.warning-btn:hover, .btn.warning-btn:focus {
  background: #FDDB9C;
  border: #FFCE74 thin solid;
}
/* line 704, layout.scss */
.btn.warning-btn:active {
  background: #F4C979;
  border: #DFA439 thin solid;
}
/* line 710, layout.scss */
.btn.danger-btn {
  background: #FF8C78;
  border: #E27D6B thin solid;
}
/* line 714, layout.scss */
.btn.danger-btn:hover, .btn.danger-btn:focus {
  background: #FDA899;
  border: #FC8A8A thin solid;
}
/* line 719, layout.scss */
.btn.danger-btn:active {
  background: #E86656;
  border: #C85A5A thin solid;
}

/* line 726, layout.scss */
.login-index {
  background: #58c7b6 url(images/bg.jpg) center no-repeat;
  background-size: cover;
  padding: 10px 0px;
}
/* line 732, layout.scss */
.login-index footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
/* line 737, layout.scss */
.login-index footer div {
  color: #fff;
  font-size: 11px;
  font-size: 0.6875rem;
}
/* line 744, layout.scss */
.login-index .login-layout {
  margin: 0 auto;
  max-width: 326px;
  padding: 0px 20px;
}
/* line 752, layout.scss */
.login-index .login-layout .login-form {
  background-color: #eaf7f7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF2FBFA', endColorstr='#FFEAF7F7');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2fbfa), color-stop(100%, #eaf7f7));
  background-image: -webkit-linear-gradient(top, #f2fbfa 0%, #eaf7f7 100%);
  background-image: -moz-linear-gradient(top, #f2fbfa 0%, #eaf7f7 100%);
  background-image: -o-linear-gradient(top, #f2fbfa 0%, #eaf7f7 100%);
  background-image: linear-gradient(top, #f2fbfa 0%, #eaf7f7 100%);
  top: 50%;
  margin-top: -142px;
  border-radius: 5px;
  box-shadow: 0 0 33px -10px black;
  padding: 10px 17px 5px 17px;
}
/* line 768, layout.scss */
.login-index .login-layout .login-form .logo-placeholder {
  width: 166px;
  height: 116px;
  margin: 0 auto 0 auto;
  background: transparent url(images/logo_166x116.png) center no-repeat;
}
/* line 775, layout.scss */
.login-index .login-layout .login-form .version-placeholder {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #666666;
  bottom: 15px;
}
/* line 783, layout.scss */
.login-index .login-layout .login-form .login-form-error {
  bottom: 0;
  font-size: 13px;
  font-size: 0.8125rem;
  margin: 0 -17px -5px -17px;
  color: #FFFFFF;
  padding: 5px 10px;
  background: #FC7676;
  border-bottom: #FC5959 thin solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: -2px 0 1px -1px #fc7676;
}
/* line 797, layout.scss */
.login-index .login-layout .login-form .login-form-control {
  margin-bottom: 12px;
}
/* line 799, layout.scss */
.login-index .login-layout .login-form .login-form-control.stay-signed-in {
  margin-top: 15px;
}
/* line 805, layout.scss */
.login-index .login-layout .login-form .login-form-control ::-webkit-input-placeholder {
  color: #ccc;
}
/* line 809, layout.scss */
.login-index .login-layout .login-form .login-form-control :-moz-placeholder {
  color: #ccc;
}
/* line 813, layout.scss */
.login-index .login-layout .login-form .login-form-control ::-moz-placeholder {
  color: #ccc;
}
/* line 817, layout.scss */
.login-index .login-layout .login-form .login-form-control :-ms-input-placeholder {
  color: #ccc;
}
/* line 821, layout.scss */
.login-index .login-layout .login-form .login-form-control input[type=submit] {
  display: none;
}

/* line 838, layout.scss */
.page-layout .page-cover {
  z-index: 1000000;
  cursor: wait;
}

/* line 847, layout.scss */
.index-layout {
  top: 0;
  left: 0;
}
/* line 852, layout.scss */
.index-layout > div:first-child {
  padding-top: 54px;
  width: 100%;
  height: 100%;
}

/* line 860, layout.scss */
.circle-loader {
  margin-top: 15px;
  width: 100%;
}
/* line 871, layout.scss */
.circle-loader .loader-animate {
  border: 2px solid transparent;
  border-left-color: #ddd;
  border-bottom-color: #ddd;
  border-right-color: #ddd;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  -webkit-animation: rotate 600ms linear 0ms infinite;
  -moz-animation: rotate 600ms linear 0ms infinite;
  -ms-animation: rotate 600ms linear 0ms infinite;
  -o-animation: rotate 600ms linear 0ms infinite;
  animation: rotate 600ms linear 0ms infinite;
}
/* line 882, layout.scss */
.circle-loader h3 {
  margin: 0 0 0 10px;
}

/* line 887, layout.scss */
.section-layout {
  font-size: 0;
}
/* line 890, layout.scss */
.section-layout * {
  font-size: 0;
}
/* line 894, layout.scss */
.section-layout > div {
  padding: 0;
}
/* line 900, layout.scss */
.section-layout iframe {
  padding: 0;
  margin: 0;
  border: 0;
}
/* line 909, layout.scss */
.section-layout .menu-layout {
  background: #fff;
}
/* line 913, layout.scss */
.section-layout .menu-layout .menu-loader {
  width: 100%;
}
/* line 918, layout.scss */
.section-layout .menu-layout .menu-loader .loader-animate {
  border: 2px solid transparent;
  border-left-color: #ddd;
  border-bottom-color: #ddd;
  border-right-color: #ddd;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  -webkit-animation: rotate 600ms linear 0ms infinite;
  -moz-animation: rotate 600ms linear 0ms infinite;
  -ms-animation: rotate 600ms linear 0ms infinite;
  -o-animation: rotate 600ms linear 0ms infinite;
  animation: rotate 600ms linear 0ms infinite;
  margin: 50px auto 20px auto;
}
/* line 931, layout.scss */
.section-layout .menu-layout .menu-header {
  padding: 8px 12px;
  color: #969696;
  margin-bottom: 10px;
  font-size: 16px;
  font-size: 1rem;
}
/* line 937, layout.scss */
.section-layout .menu-layout .menu-header span {
  font-size: 14px;
  font-size: 0.875rem;
  margin-right: 10px;
  color: #333;
}
/* line 944, layout.scss */
.section-layout .menu-layout .menu-items {
  padding: 7px 10px;
  color: #777;
  text-indent: 10px;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 959, layout.scss */
.section-layout .menu-layout .menu-items:hover, .section-layout .menu-layout .menu-items.selected {
  background: #F5F5F5;
  color: #555;
  border-left: #eee 6px solid;
}
/* line 965, layout.scss */
.section-layout .menu-layout .menu-items.selected {
  border-left: #1eb4ac 6px solid;
}
/* line 969, layout.scss */
.section-layout .menu-layout .menu-items.load.selected:after {
  border: 2px solid transparent;
  border-left-color: #5CC8BA;
  border-bottom-color: #5CC8BA;
  border-right-color: #5CC8BA;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  content: "";
  right: 8px;
  top: 50%;
  margin-top: -10px;
  -webkit-animation: rotate 600ms linear 0ms infinite;
  -moz-animation: rotate 600ms linear 0ms infinite;
  -ms-animation: rotate 600ms linear 0ms infinite;
  -o-animation: rotate 600ms linear 0ms infinite;
  animation: rotate 600ms linear 0ms infinite;
}
/* line 987, layout.scss */
.section-layout .detail-layout {
  background: #fff;
}

/* line 992, layout.scss */
header {
  width: 100%;
  height: 54px;
  white-space: nowrap;
  background: #58c7b6 url(images/bg.jpg) center no-repeat;
  background-size: cover;
  font-size: 0px;
  font-size: 0rem;
  z-index: 1;
}
/* line 1002, layout.scss */
header .brand {
  width: 108px;
  height: 54px;
  background: transparent url(images/logo_white_108x54.png) center no-repeat;
}
/* line 1009, layout.scss */
header .title {
  font-size: 20px;
  font-size: 1.25rem;
  color: #fff;
  width: -webkit-calc(100% - 358px);
  width: calc(100% - 358px);
}
/* line 1019, layout.scss */
header .profile {
  width: 250px;
}
/* line 1024, layout.scss */
header .profile .profile-layout {
  height: 54px;
  padding: 8px 40px 8px 8px;
}
/* line 1032, layout.scss */
header .profile .profile-layout:hover, header .profile .profile-layout:focus {
  background: #008885;
}
/* line 1035, layout.scss */
header .profile .profile-layout:hover .profile-dropout, header .profile .profile-layout:focus .profile-dropout {
  height: auto;
  opacity: 1;
}
/* line 1041, layout.scss */
header .profile .profile-layout .profile-dropout {
  min-width: 117px;
  height: 0;
  overflow: hidden;
  font-size: 13px;
  font-size: 0.8125rem;
  background: #008885;
  z-index: 100;
  text-align: left;
  right: 0;
  margin-top: 9px;
  color: #fff;
  opacity: 0;
}
/* line 1057, layout.scss */
header .profile .profile-layout .profile-dropout ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 1062, layout.scss */
header .profile .profile-layout .profile-dropout ul li {
  margin: 0;
}
/* line 1066, layout.scss */
header .profile .profile-layout .profile-dropout ul li a {
  color: #fff;
  display: block;
  width: 100%;
  padding: 7px 10px;
}
/* line 1073, layout.scss */
header .profile .profile-layout .profile-dropout ul li span {
  padding-right: 7px;
}
/* line 1077, layout.scss */
header .profile .profile-layout .profile-dropout ul li:hover, header .profile .profile-layout .profile-dropout ul li:focus {
  background: rgba(0, 0, 0, 0.3);
}
/* line 1081, layout.scss */
header .profile .profile-layout .profile-dropout ul li:active {
  background: rgba(0, 0, 0, 0.6);
}
/* line 1089, layout.scss */
header .profile .user-profile {
  max-width: 250px;
  position: relative;
  display: none;
}
/* line 1095, layout.scss */
header .profile .user-profile.profileLoaded {
  display: inline-block;
}
/* line 1099, layout.scss */
header .profile .user-profile:before {
  position: absolute;
  top: 50%;
  right: -25px;
  content: "";
  border: transparent 5px solid;
  border-top-color: #fff;
  width: 0;
  height: 0;
}
/* line 1111, layout.scss */
header .profile .user-img-layout {
  height: 37px;
}
/* line 1116, layout.scss */
header .profile .user-img {
  border: #a4dded solid 1px;
  background: #046b7e;
  width: 37px;
  height: 37px;
  overflow: hidden;
  border-radius: 100%;
  display: none;
}
/* line 1126, layout.scss */
header .profile .user-img.imgLoaded {
  display: block;
}
/* line 1130, layout.scss */
header .profile .user-img img {
  width: 37px;
}
/* line 1135, layout.scss */
header .profile .user-info {
  margin-left: 10px;
  white-space: nowrap;
}
/* line 1140, layout.scss */
header .profile .user-info .user-name {
  font-size: 14px;
  font-size: 0.875rem;
  color: #fff;
  max-width: 170px;
}
/* line 1147, layout.scss */
header .profile .user-info .user-department {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #eee;
  max-width: 170px;
}

/* line 1158, layout.scss */
.frame-layout {
  padding: 10px;
  font-size: 13px;
  font-size: 0.8125rem;
}
/* line 1162, layout.scss */
.frame-layout .row {
  margin-right: -15px;
  margin-left: -15px;
}
/* line 1168, layout.scss */
.frame-layout .init-alert-panel > div {
  max-width: 100%;
  margin: 10px auto 10px auto;
}
/* line 1173, layout.scss */
.frame-layout .table-layout {
  padding: 10px;
}
/* line 1177, layout.scss */
.frame-layout .table-layout .dt-loading {
  font-size: 25px;
  font-size: 1.5625rem;
}
/* line 1182, layout.scss */
.frame-layout .table-layout .dataTables_wrapper {
  top: -36px;
}
/* line 1194, layout.scss */
.frame-layout .table-layout .default-toolbar {
  z-index: 10;
  position: relative;
}
/* line 1201, layout.scss */
.frame-layout .table-layout .top-toolbar .left-toolbar {
  left: 175px;
}
/* line 1205, layout.scss */
.frame-layout .table-layout .top-toolbar .copyInfo {
  color: #10B274;
}
/* line 1210, layout.scss */
.frame-layout .table-layout .bottom-toolbar {
  top: 65px;
}
/* line 1215, layout.scss */
.frame-layout .table-layout .right-toolbar {
  right: 0;
}
/* line 1218, layout.scss */
.frame-layout .table-layout .right-toolbar input {
  margin: 0;
  width: 170px;
}
/* line 1224, layout.scss */
.frame-layout .table-layout .table-space {
  top: 50px;
}
/* line 1232, layout.scss */
.frame-layout .table-layout .toolbar + .toolbar {
  margin-left: 10px;
}
/* line 1238, layout.scss */
.frame-layout .table-layout .toolbar label {
  margin: 0;
}
/* line 1242, layout.scss */
.frame-layout .table-layout .toolbar * {
  float: none;
}
/* line 1248, layout.scss */
.frame-layout table.dataTable {
  font-size: 14px;
  font-size: 0.875rem;
  border: #e2e2e2 thin solid;
  margin: 0px;
  width: 100% !important;
}
/* line 1254, layout.scss */
.frame-layout table.dataTable th {
  font-size: normal;
  border-bottom: 2px solid #71d7c9;
}
/* line 1260, layout.scss */
.frame-layout table.dataTable th:not(:last-child):hover {
  background: #f5f5f5;
}
/* line 1266, layout.scss */
.frame-layout table.dataTable tbody td:last-child:not(.dataTables_empty) {
  padding: 0;
  font-size: 0;
  white-space: nowrap;
}
/* line 1272, layout.scss */
.frame-layout table.dataTable tbody td:last-child:not(.dataTables_empty) .btn {
  padding: 7px 7px 7px 14px;
  border-radius: 0;
  background: transparent;
  color: #333;
  font-size: 14px !important;
  margin: 0;
}
/* line 1280, layout.scss */
.frame-layout table.dataTable tbody td:last-child:not(.dataTables_empty) .btn:hover {
  color: #fff;
}
/* line 1284, layout.scss */
.frame-layout table.dataTable tbody td:last-child:not(.dataTables_empty) .btn.tp-details:hover {
  background: #71D7C9;
}
/* line 1288, layout.scss */
.frame-layout table.dataTable tbody td:last-child:not(.dataTables_empty) .btn.tp-edit:hover {
  background: #FDCC72;
}
/* line 1292, layout.scss */
.frame-layout table.dataTable tbody td:last-child:not(.dataTables_empty) .btn.tp-delete:hover {
  background: #FF8C78;
}
/* line 1296, layout.scss */
.frame-layout table.dataTable tbody td:last-child:not(.dataTables_empty) .btn:active {
  box-shadow: inset 0 7px 10px -4px rgba(0, 0, 0, 0.2);
}
/* line 1304, layout.scss */
.frame-layout table.dataTable tr:first-child > td {
  border-top: none;
}

/* line 1310, layout.scss */
.init-alert {
  margin-bottom: 0;
}

/* line 1314, layout.scss */
.init-alert-panel > div {
  max-width: 800px;
  margin: 10px auto 0 auto;
}

/* line 1319, layout.scss */
.confrim-admin-email-template {
  margin: 0 auto;
}

/* line 1323, layout.scss */
.init-generic-page {
  margin-top: 25px;
}

/* line 1327, layout.scss */
.inline-form {
  margin-top: 10px;
  padding: 0 10px;
  max-width: 500px;
}
/* line 1328, layout.scss */
.inline-form h1 {
  font-size: 32px;
  font-size: 2rem;
}
/* line 1331, layout.scss */
.inline-form p {
  padding: 0 10px;
  max-width: 500px;
  margin-top: 10px;
}

/* line 1341, layout.scss */
.app-generic-template {
  padding: 0 20px 10px 20px;
}
/* line 1344, layout.scss */
.app-generic-template .modular-layout {
  padding-top: 10px;
}
/* line 1348, layout.scss */
.app-generic-template .modular-layout .generic-template {
  padding-left: 0;
}
/* line 1350, layout.scss */
.app-generic-template .modular-layout .generic-template h1 {
  margin-top: 0px;
}
/* line 1353, layout.scss */
.app-generic-template .modular-layout .generic-template h3 {
  margin-bottom: 20px;
}
/* line 1358, layout.scss */
.app-generic-template .modular-layout .modular-form {
  width: 100%;
}
/* line 1370, layout.scss */
.app-generic-template .modular-layout .modular-controls label .form-control {
  margin: 0;
}
/* line 1375, layout.scss */
.app-generic-template .modular-layout ul.material-list-view {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 0;
  border-radius: 5px;
  background: #fff;
  list-style: none;
  border: #ECECEC thin solid;
  margin-top: 20px;
}
/* line 1384, layout.scss */
.app-generic-template .modular-layout ul.material-list-view li {
  padding: 10px;
  border-bottom: #ECECEC thin solid;
}
/* line 1394, layout.scss */
.app-generic-template .modular-layout ul.material-list-view li .item-controls {
  top: 0;
  right: 0;
}
/* line 1399, layout.scss */
.app-generic-template .modular-layout ul.material-list-view li .item-controls > div {
  padding: 10px 15px;
}
/* line 1406, layout.scss */
.app-generic-template .modular-layout ul.material-list-view li .item-controls > div:hover .fa {
  color: #fff;
}
/* line 1411, layout.scss */
.app-generic-template .modular-layout ul.material-list-view li .item-controls > div.tp-details:hover {
  background: #71D7C9;
}
/* line 1415, layout.scss */
.app-generic-template .modular-layout ul.material-list-view li .item-controls > div.tp-edit:hover {
  background: #FDCC72;
}
/* line 1419, layout.scss */
.app-generic-template .modular-layout ul.material-list-view li .item-controls > div.tp-delete:hover {
  background: #FF8C78;
}
/* line 1423, layout.scss */
.app-generic-template .modular-layout ul.material-list-view li .item-controls > div:active {
  box-shadow: inset 0 7px 10px -4px rgba(0, 0, 0, 0.2);
}
/* line 1426, layout.scss */
.app-generic-template .modular-layout ul.material-list-view li .item-controls > div .fa {
  padding: 0px;
  color: #000;
}
/* line 1433, layout.scss */
.app-generic-template .modular-layout ul.material-list-view li .fa {
  padding-right: 10px;
  color: #71D7C9;
}

/* line 1441, layout.scss */
.confrim-admin-email-template, .generic-template {
  width: 100%;
  max-width: 800px;
  padding: 0 20px 10px 20px;
}
/* line 1446, layout.scss */
.confrim-admin-email-template h1, .generic-template h1 {
  font-size: 32px;
  font-size: 2rem;
}
/* line 1450, layout.scss */
.confrim-admin-email-template .detail-table, .generic-template .detail-table {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 15px !important;
  margin-left: 10px;
  margin-bottom: 20px !important;
}
/* line 1456, layout.scss */
.confrim-admin-email-template .detail-table tbody, .generic-template .detail-table tbody {
  margin-top: 10px;
}
/* line 1460, layout.scss */
.confrim-admin-email-template .detail-table td, .generic-template .detail-table td {
  border: 0;
}
/* line 1461, layout.scss */
.confrim-admin-email-template .detail-table td:first-child, .generic-template .detail-table td:first-child {
  width: 160px;
}
/* line 1465, layout.scss */
.confrim-admin-email-template .detail-table td:nth-child(2), .generic-template .detail-table td:nth-child(2) {
  width: 10px;
}
/* line 1473, layout.scss */
.confrim-admin-email-template .generic-form-bottom-tools, .generic-template .generic-form-bottom-tools {
  margin-top: 20px;
}
/* line 1477, layout.scss */
.confrim-admin-email-template.admin-register-template, .confrim-admin-email-template.generic-form, .generic-template.admin-register-template, .generic-template.generic-form {
  max-width: 600px;
}
/* line 1482, layout.scss */
.confrim-admin-email-template.detail-template .form-group, .generic-template.detail-template .form-group {
  margin-left: 10px;
}
/* line 1487, layout.scss */
.confrim-admin-email-template.detail-template h3.delete-detail, .generic-template.detail-template h3.delete-detail {
  color: #D9534F;
}
/* line 1492, layout.scss */
.confrim-admin-email-template h1, .generic-template h1 {
  margin-top: 10px;
}
/* line 1496, layout.scss */
.confrim-admin-email-template .form-layout, .generic-template .form-layout {
  padding: 10px;
}
/* line 1500, layout.scss */
.confrim-admin-email-template h1, .generic-template h1 {
  color: #333;
}
/* line 1504, layout.scss */
.confrim-admin-email-template p, .generic-template p {
  text-align: justify;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 10px;
  color: #666;
  margin-top: 10px;
}
/* line 1512, layout.scss */
.confrim-admin-email-template .admin-form-layout, .generic-template .admin-form-layout {
  padding: 0 10px;
  max-width: 500px;
  margin-top: 10px;
}
/* line 1517, layout.scss */
.confrim-admin-email-template .admin-form-layout .form-group:last-child, .generic-template .admin-form-layout .form-group:last-child {
  margin-top: 20px;
}
