@model maQx.Models.Product

<table class="table table-responsive detail-table">
    <tbody>
        <tr>
            <td><div>Code</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Code</div></td>
        </tr>
        <tr>
            <td><div>Description</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Description</div></td>
        </tr>
    </tbody>
</table>

