@model maQx.Models.RawMaterial

<table class="table table-responsive detail-table">
    <tbody>
        <tr>
            <td><div>Code</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Code</div></td>
        </tr>
        <tr>
            <td><div>Description</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Description</div></td>
        </tr>
        <tr>
            <td><div>Unit Of Measure</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Unit</div></td>
        </tr>
        <tr>
            <td><div>Measurement Type</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Measurement</div></td>
        </tr>
    </tbody>
</table>
