@model maQx.Models.Division

<table class="table table-responsive detail-table">
    <tbody>
        <tr>
            <td><div>Code</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Code</div></td>
        </tr>
        <tr>
            <td><div>Name</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Name</div></td>
        </tr>
        <tr>
            <td><div>Plant</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Plant.Name</div></td>
        </tr>
    </tbody>
</table>
