@model maQx.Models.DivisionViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FramePage.cshtml";
}

<div class="generic-template generic-form">

    @if (Model.Plants.Count() > 1)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="admin-form">
                <h1>Create a division</h1>
                <p>Division</p>

                @{Html.RenderPartial("_Form", Model);}

                <div class="generic-form-bottom-tools">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm" })
                </div>
            </div>
        }
    }
    else
    {
        <div>
            <h3 class="info-title">
                <span class="fa-stack title-icon yellow">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-info fa-stack-1x"></i>
                </span> No plants were created yet.
            </h3>
            <p>
                Divisions are subsets of plants. @Html.ActionLink("Create a plant", "Create", "Plants") before creating a division.
            </p>
        </div>
    }

</div>
