@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNet.Identity

<header>
    <div class="brand"></div>
    <div class="title" ng-bind="aCtrl.getPageTitle()"></div>
    <div class="profile" ng-controller="UserController as uCtrl">
        <div class="profile-layout">
            <div class="user-profile" ng-class="{profileLoaded: uCtrl.isLoaded()}">
                <div class="user-img-layout">
                    <div class="user-img" ng-class="{imgLoaded: uCtrl.IsImgEnabled()}">
                        <img ng-src="{{uCtrl.user.ImgURL}}" src="" alt="" />
                    </div>
                </div>
                <div class="user-info">
                    <div class="user-name" ng-bind="uCtrl.user.Name"></div>
                    <div class="user-department" ng-bind="uCtrl.user.Designation"></div>
                </div>
            </div>
            @if (Request.IsAuthenticated)
            {
                <div class="profile-dropout">
                    @using (Html.BeginForm("Logout", "App", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul>
                            <li><a href="@Url.Action("Index","Profile")"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            <li><a href="javascript:_app.logOff()"><span class="glyphicon glyphicon-log-out"></span> Log off</a></li>
                        </ul>
                    }
                </div>
            }
        </div>
    </div>
</header>
<div class="index-layout">
    <div>
        @RenderBody()
    </div>
</div>
<footer></footer>