@model maQx.Models.RawMaterialViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FramePage.cshtml";
}

<div class="generic-template generic-form">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="admin-form">
            <h1>Create a Machine</h1>
            <p>Machines</p>

            @{Html.RenderPartial("_Form", Model);}

            <div class="generic-form-bottom-tools">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm" })
            </div>
        </div>
    }

</div>


