@model maQx.Models.OrganizationViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FramePage.cshtml";
}


<div class="generic-template generic-form">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="admin-form">
            <h1>Create an Organization</h1>

            <p>Organization is a primary entity and has the top most scope in the application.</p>

            @{Html.RenderPartial("_Form", Model);}

            <div class="generic-form-bottom-tools">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm" })
            </div>
        </div>
    }

</div>




