@model maQx.Models.Organization

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_FramePage.cshtml";
}

<div class="generic-template generic-form detail-template">
    <h1>Delete organization </h1>
    <h3 class="delete-detail">
        Are you sure you want to delete this?
    </h3>

    @{Html.RenderPartial("_View", Model);}

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div>
                <div>
                    <input type="submit" value="Yes, Delete" class="btn btn-default btn-danger" />
                </div>
            </div>
        </div>

        <div class="generic-form-bottom-tools">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm" })
        </div>
    }
</div>
