@using maQx.Utilities
@model maQx.Models.Shift

<table class="table table-responsive detail-table">
    <tbody>
        <tr>
            <td><div>Description</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Description</div></td>
        </tr>
        <tr>
            <td><div>Start Time</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.StartTime.ToString("hh:mm tt")</div></td>
        </tr>
        <tr>
            <td><div>End Time</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.EndTime.ToString("hh:mm tt")</div></td>
        </tr>
        <tr>
            <td><div>Duration</div></td>
            <td>:</td>
            <td><div class="ui-bold">@(Model.TotalHours+" "+("Hr".Pluralize(Model.TotalHours)))</div></td>
        </tr>
    </tbody>
</table>


